<%- include('includes/head.ejs') %>
    </nav>
    <main>
      <h1 class="ms-3 mt-3 ">Problem with our servers</h1>
      <h3 class="ms-3 mt-3 ">Sorry for inconvenience, we're working on it</h3>
    </main>
    <%- include('includes/end.ejs') %>